$type-scale: (
  small: (
    100: 1.3rem,
    200: 1.4rem,
    300: 1.6rem,
    400: 1.8rem,
    500: 2.4rem,
    600: 2.6rem,
    700: 4rem,
  ),
);

$font-weights: (
  300: 700,
  400: 400,
  500: 500,
  700: 700,
);
